/*  
 https://stackoverflow.com/questions/41587802/css-animation-from-left-to-right */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

*{margin: 0; padding: 0; border: 0; outline: 0;}

.wrapper {
   margin-top: 5%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding-top: 75px;
}

.welcomeText {
        padding-right: 30px;
}

.welcomeTextAnimation { 
        font-family: 'Avenir Next';
        color: #000000;
        font-size: 45px;
        animation: fadeIn 1s 1.8s backwards ;     
}

.welcomeTextAnimationP { 
        color: #000000;
        font-family: 'Avenir Next';
        font-size: 1.2em;
        animation: fadeIn 1.4s 2s backwards ;  

}

h1 {
        font-family: 'Avenir Next';
        color: #000000;
        font-size: 45px;
}

p {
        font-size: 30px;
}

 .button {
    background-color: #1ed760;
    color: black;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 500px;
    display: inline-block;
    border: none;
    text-decoration: none;
    font-weight: bold;
 }

 .artistImg {
        box-shadow: rgba(0, 0, 0, 0.4);
        
        img {
                height: 400px;
                border-radius: 50px;
        }

        &:hover {
           outline:2px solid white;
           outline-offset: 2rem;
           transition: all .2s;
           border-radius: 2px;
           object-fit: cover;
        }
               
}


.userInfo {
        font-family: 'Avenir Next';
        color: #000000;
        text-align: right;
        padding-right: 30px;
}


.header {
        top: 0%;
        height: 6.7%;
        width: 100%;
        height: 100%;
        background-color: #F1C0C0;
}

footer {
    position: fixed;
    bottom: 0%;
    height: 3.7%;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
}

 